<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqh.mapper.DoctorMapper">
    <select id="selectDoctors" resultType="com.zqh.pojo.Doctor">
        select * from doctor
        <where>
            <if test="region != null and region != '' ">
                region = #{region}
            </if>
            <if test="doctorCode != null and doctorCode != '' ">
                and doctor_code = #{doctorCode}
            </if>
            <if test="name != null and name != '' ">
                and name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
    </select>

    <select id="selectDoctorById" resultType="com.zqh.pojo.Doctor">
        select * from doctor where id = #{id}
    </select>

    <update id="updateLikes">
        update doctor SET likes = #{likes} where id = #{id}
    </update>
</mapper>